      body{
        font-family: 'Times New Roman', Times, serif;
      }
      h1 
      {
        color: white;
        font-size: 35px;
        text-align: center;
        font-style:italic;
      }
      h2{
        text-align: center;
        font: bold;
        color: blue;
      }
      p
      {
        border-left:6px solid lightblue;
        /* padding: 25px 25px 25px 25px; */
        font-size: 30px;
        /* margin:15px; */
        display: inline-block;
        text-align: center;
        color:greenyellow;
      }
      a
      {
        border:6px lightblue;
        padding: 5px ;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        margin: 30px;
        color:silver;
      }
      /* Style for Navigation bar */
      .navTop{
        border-bottom: 6px solid navajowhite;
      }
      /* footer{
      } */
      /* Style for footer */
      .foot{
        bottom: 0;
        width: 100%;
        background:black;
      }
      body
      {
        background-image: url("../img/backGround.jpeg");
        background-size:cover;
        background-repeat: no-repeat;
      }
      li
      {
        font-size: 24px;
        color:lightblue;
      }
      .response{
        color: lightgoldenrodyellow;
        font-size: 26px;
        border: 10px;
        padding: 5px;
      }
      .footerInfo p 
      {
        
        color:silver;
        margin-left: 83px
      }



      
      


    